
link(rel='icon', type='image/png', sizes='196x196', href='#{folder_favicon}/favicon-196.png')
link(rel='icon', type='image/png', sizes='160x160', href='#{folder_favicon}/favicon-160.png')
link(rel='icon', type='image/png', sizes='96x96', href='#{folder_favicon}/favicon-96.png')
link(rel='icon', type='image/png', sizes='64x64', href='#{folder_favicon}/favicon-64.png')
link(rel='icon', type='image/png', sizes='32x32', href='#{folder_favicon}/favicon-32.png')
link(rel='icon', type='image/png', sizes='16x16', href='#{folder_favicon}/favicon-16.png')
link(rel='apple-touch-icon', sizes='152x152', href='#{folder_favicon}/favicon-152.png')
link(rel='apple-touch-icon', sizes='144x144', href='#{folder_favicon}/favicon-144.png')
link(rel='apple-touch-icon', sizes='120x120', href='#{folder_favicon}/favicon-120.png')
link(rel='apple-touch-icon', sizes='114x114', href='#{folder_favicon}/favicon-114.png')
link(rel='apple-touch-icon', sizes='76x76', href='#{folder_favicon}/favicon-76.png')
link(rel='apple-touch-icon', sizes='72x72', href='#{folder_favicon}/favicon-72.png')
link(rel='apple-touch-icon', href='#{folder_favicon}/favicon-57.png')
meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='msapplication-TileImage', content='#{folder_favicon}/favicon-144.png')
meta(name='msapplication-TileColor', content='#000')

